* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgba(202, 199, 202, 0.055);
  color: #5a4fdc;
  font-family: Arial, Helvetica, sans-serif;
}

/* Start Of Header CSS  */

.logo {
  width: 2rem auto;
}

.main-container {
  height: 100vh;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.right {
  position: relative;
  height: 41.5em;
  float: right;
  top: 0;
  bottom: 0;
}

.tosin {
  margin-left: 45rem;
  height: 40.3em;
  position: absolute;
}

.wrapper {
  padding: 1.5em;
  max-width: 1200;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  padding-left: 18rem;
}

li a {
  padding: 0em 10em 0 10rem;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
}

li {
  padding-top: 1rem;
  padding-left: 8rem;
  font-kerning: auto;
  color: #ffd944;
}

a:hover {
  color: #ffd944;
  cursor: pointer;
}

.wrapper-content {
  margin-top: 2rem;
  padding: 8rem 8rem 0;
}

/* End Of Header CSS  */

/*----- start of About section CSS----- */
h3 {
  padding: 2rem 8rem 0 10rem;
  color: #685ddf;
}

.about-container {
  width: 95%;
  margin: auto;
}

p {
  font-size: 15px;
  line-height: 2rem;
  color: #777;
  margin-left: 6rem;
}

.block {
  float: left;
  width: 33.3%;
  padding: 10px;
  box-sizing: border-box;
}

/*----- End of About section CSS----- */

.clr {
  clear: both;
}

/*-----start of contact section CSS----- */

.contact-container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact {
  padding-left: 4rem;
}

.form-right {
  padding-top: 1.7rem;
}

form {
  max-width: 350px;
  margin: 30px 0;
}

form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #685ddf;
}

.message {
  width: 100%;
  height: 6rem;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #685ddf;
}

.common-btn {
  width: 30%;
  height: 2rem;
  border-radius: 0.5rem;
  justify-content: center;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #685ddf;
  text-transform: uppercase;
}

.common-btn:hover {
  background-color: #685ddf;
  color: #fff;
}

.hr {
  width: 80%;
  height: 0.1rem;
  background-color: #685ddf;
}

/*----- End of contact section CSS----- */

/*----- Start of social-icons section CSS----- */
.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icons img {
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}
/*----- End of social-icons section CSS----- */
